<div class=" item">
        <div>NOME DO INSTRUTOR</div>
        <input type="text" name="name" placeholder="Nome Completo" value='{{instructor.name}}' = >
      </div>

      <div class=" item">
        <div>SUA FOTO</div>
        <input type="url" name="avatar_url" placeholder="link da Foto">
      </div>

      <div class=" item">
        <div>
          data de nascimento</div>
        <div>
          <input type="date" name="birth">
        </div>

      </div>

      <div class=" item">
        <div>qual sua sexualidade ?</div>
        <div>
          <span><input type="radio" name="gender" volue="M" checked="checked">
            MASCULINO</span>
          <span><input type="radio" name="gender" volue="F" checke="checke">
            FEMENINO</span>
          <span><input type="radio" name="gender" volue="O" checke="checke">OUTRO</span>
          <span><input type="radio" name="gender" volue="T" checke="checke">
            TRANSGENERO</span>
          <span><input type="radio" name="gender" volue="N" checke="checke">
            NÃO BINANRIO</span>

        </div>

      </div>

      <div class=" item">
        <div>Especialidades ( separe por virgula)
        </div>
        <div>
          <input type="text" name="services">

        </div>

      </div>

    </div>

    <button type="submit">SALVAR</button>
  </section>