<div class=" item">
        <div>NOME DO INSTRUTOR</div>
        <input type="text" name="name" placeholder="Nome Completo" value='{{instructor.name}}' >
       
   

      </div>

      <div class=" item">
        <div>SUA FOTO</div>
        <input type="url" name="avatar_url" placeholder="link da Foto" value='{{instructor.avatar_url}}' >
      </div>

      <div class=" item">
        <div>
          data de nascimento</div>
        <div>
          <input type="date" name="birth"  value='{{instructor.birth}}'>
        </div>

      </div>

      <div class=" item">
        <div>qual sua sexualidade ?</div>
        <div>
          <span><input type="radio" name="gender" value="M" {% if instructor.gender == 'M' %} checked {% endif %}>
            MASCULINO</span>
          <span><input type="radio" name="gender" value="F" {% if instructor.gender == 'F' %} checked {% endif %}>
            FEMENINO</span>
          <span><input type="radio" name="gender" value="O" {% if instructor.gender == 'O' %} checked {% endif %}>OUTRO</span>
          <span><input type="radio" name="gender" value="T" {% if instructor.gender == 'T' %} checked {% endif %}>
            TRANSGENERO</span>
          <span><input type="radio" name="gender" value="N" {% if instructor.gender == 'N' %} checked {% endif %}>
            NÃO BINANRIO</span>

        </div>

      </div>

      <div class=" item">
        <div>Especialidades
        </div>
        <div>
          <input type="text" name="services" placeholder="separe por virgula"= value= '{{instructor.services}}'>

        </div>

      </div>

    </div>

    <button type="submit">SALVAR</button>
  </section>