    {% extends "layout.njk" %}

    {% block content %}

    <div class="card">   
    <section class="avatar" style="  background:url(https://i.imgur.com/st4ImEHg.jpg) no-repeat center center / cover ">       
    </section>
      <section class="details">     

      <h3>DETALHES</h3>
      <div class=" item">
      <div>INSTRUTOR</div>
      <div> {{instructor.name}}</div>
      </div>

      <div class=" item">
      <div> Idade</div>
      <div> {{instructor.birth}}</div>

    </div>


     <div class=" item">
      <div>Sexo </div>
      <div> {{instructor.gender}}</div>
    

    </div>

    
     <div class=" item">
      <div>Acompanhamento </div>
      <div>
      
      {{instructor.services}}
      
      </div>
    
      </div>
      
    <div class=" item">
     <div>DESDE a </div>
      <div> {{instructor.created_at}}</div>

    </div>

    <a href ='/instructors/edit/{{instructor.id}}' class='button' > Editar </a>
 </section>


      
    </div>

    {% endblock %}